.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #F0F4F9;
  padding: 10px 20px;
  border-radius: 50px;

  img {
    width: 24px;
    cursor: pointer;
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 15px
  }
}

@media (max-width: 600px) {
  .search-box {
    padding: 5px 10px;

    div {
      gap: 5px;
    }
  }
}