.result {
  padding: 0 5%;
  max-height: 70vh;
  overflow-y: scroll;

  img {
    width: 40px;
    border-radius: 50%;
  }

  &__title {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__data {
    display: flex;
    align-items: start;
    gap: 20px;

    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.8;
    }
  }

  &__loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    hr {
      border-radius: 4px;
      border: none;
      background: #F7F8F8 linear-gradient(to right, #9ED7FF, #FFFFFF, #9ED7FF);
      background-size: 800px 50px;
      height: 20px;
      animation: loader 3.5s infinite linear;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}